body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #5bd4d0; /* Guinda */
    color: white;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

header h1 {
    font-family: 'Georgia', serif;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00; /* Dorado */
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}

section, aside {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.receta {
    text-align: center;
}

.receta img {
    border-radius: 8px;
    margin-bottom: 10px;
}

h2, h3 {
    color: #2e78c1;
}